@import "../../mixins/mixins";

@mixin counter-button-box {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--counter-bg-color, #e9bc5b);
  color: var(--counter-color);
  cursor: pointer;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  @include reusable-box;
  height: 2rem;
  width: var(--counter-width, 7rem);
  border: 1px none #ccc;

  // styles when used in sheet
  &[data-is-sheet="true"] {
    @media (min-width: 500px) {
      width: 8rem;
      height: 2.5rem;
    }
    @media (max-width: 500px) {
      width: 6rem;
    }
    @media (max-width: 418px) {
      width: 5rem;
    }
    @media (max-width: 319px) {
      width: 3.6rem;
      .count {
        font-size: 0.8em;
        margin: 0;
      }
    }
  }
  // styles when used in NewOrderPage
  &[data-is-orderCart="true"] {
    @media (max-width: 1024px) {
      width: 7rem;
    }
    @media (max-width: 530px) {
      width: 5rem;
    }
    @media (max-width: 420px) {
      width: 4rem;
    }
  }

  .cartCounterButton {
    @include counter-button-box;
    @include interactive-bg;
    transition: 0.6s ease;
  }

  .cardCounterButton {
    @include counter-button-box;
    @include interactive-bg(rgb(235, 187, 93));
    transition: 0.6s ease;
  }
  .count {
    margin: var(--counter-margin);
    font-size: 0.9em;
    color: var(--counter-color);
  }
}

@media (max-width: 845px) and (min-width: 800px) {
  .counter {
    width: 6rem;
  }
}

@media (max-width: 768px) and (min-width: 599px) {
  .counter {
    width: 6rem;
  }
}

@media (max-width: 440px) {
  .counter {
    width: 5.5rem;
  }
}

@media (max-width: 368px) {
  .counter {
    width: 4.5rem;
    .icon {
      width: 11px;
      height: 11px;
    }
  }
}

@media (max-width: 319px) {
  .counter {
    width: 3.4rem;
    height: 1.7rem;
    .count {
      font-size: 0.7em;
      margin: 0;
    }
  }
}
