.appLinks {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  font-family: "Inter", sans-serif;

  span {
    margin-bottom: 10px;
  }
}
.images {
  display: flex;
  justify-content: space-between;
  img {
    width: 90px;
    height: 30px;
  }
}

@media (max-width: 1024px) {
  .appLinks {
    margin-right: 0px;
    margin-top: 30px;
    padding: 10px;
    width: 100%;

    span {
      align-self: center;
    }
  }

  .images {
    justify-content: space-evenly;

    img {
      width: 100px;
      height: 30px;
    }
  }
}
