.cartBox {
  display: flex;
  width: 20%;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc;
  padding-top: 13px;
  display: flex;
  // flex-direction: column;
  position: sticky;
  top: 90px;
  height: calc(100vh - 170px);
  flex-basis: 300px;
  padding: 20px;
  // overflow: auto;

  .cartTitle {
    font-size: 19px;
    font-weight: bold;
  }
  .deleteTitle {
    font-size: 18px;
  }
}
