.cart {
  display: flex;
  flex-direction: column;
  width: 20%;
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc;
  padding-top: 13px;
  position: sticky;
  top: 110px;
  height: calc(100vh - 150px);
  padding: 20px;
  font-family: Lexend-Regular;
}

.cartBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cartTitle {
  font-size: 21px;
  font-weight: bold;
}
.deleteTitle {
  font-size: 20px;
  color: #929292;
}
