@import "../../../mixins/mixins";

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: -170px;
  border-radius: 20px;
  box-shadow: 0 0 5px #ccc;
  min-height: 400px;
  min-width: 500px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  background-color: white;
  // justify-content: center;
  align-items: flex-start;
  padding: 30px;

  .addressContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 13px 15px;
  }

  .edit {
    cursor: pointer;
  }

  .line {
    height: 1px;
    border: 0;
    background: #ccc;
    margin: 20px 0;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 480px;
  }

  .input {
    padding: 0 15px;
    margin-bottom: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 10px;
    height: 40px;
    font-size: 0.95rem;
    font-family: "Inter", sans-serif;
    text-overflow: ellipsis;

    @include focus-style(#ccc);
  }
  .details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .detailsInput {
      text-align: center;
      max-width: 80px;
      margin: 0 0 20px 0;
      border-width: 1px;
      border-style: solid;
      border-color: #ccc;
      border-radius: 10px;
      height: 40px;
      font-size: 0.95rem;
      font-family: "Inter", sans-serif;
      @include focus-style(#ccc);
    }
  }

  .buttonsContainer {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
  }

  .buttonStyle {
    @include reusable-button;
    margin: 0.3rem 1.5rem 0 0;
  }
  .buttonText {
    @include reusable-button-text;
  }
}
