.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  // top: 20%;
  border-radius: 20px;
  box-shadow: 0 0 5px #ccc;
  min-height: 250px;
  min-width: 200px;
  max-width: 500px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  background-color: white;
  align-items: flex-start;
  padding: 30px;
  overflow-y: auto;

  &[data-is-modal="true"] {
    max-height: 500px;
    @media (max-height: 666px) {
      margin-top: 300px;
    }
  }
}

.container::-webkit-scrollbar {
  display: block;
  width: 5px;
}
.container::-webkit-scrollbar-track {
  background: transparent;
  margin: 15px;
}

.container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-right: none;
  border-left: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
// .container {
//   -ms-overflow-style: none; /* IE and Edge */
//   scrollbar-width: none; /* Firefox */
// }
