@import "../../mixins/mixins";

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: -170px;
  border-radius: 20px;
  box-shadow: 0 0 5px #ccc;
  height: 400px;
  width: 450px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  background-color: white;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;

  .inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
      margin-bottom: 13px;
    }
  }

  .input {
    width: 100%;
    min-width: 350px;
    padding: 0 15px;
    margin-bottom: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 10px;
    min-height: 40px;
    font-size: 0.95rem;
    font-family: "Inter", sans-serif;
    @include focus-style(#ccc);
  }

  .buttonsContainer {
    display: flex;
    flex-direction: row;
  }

  .buttonStyle {
    @include reusable-button;
  }
  .buttonText {
    @include reusable-button-text;
  }
}
