.products {
  display: flex;
  flex: 4;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-width: 768px;

  .card {
    display: flex;
    flex-basis: calc(20% - 20px);
    max-width: calc(20% - 20px);
    min-width: 170px;
    min-height: 350px;
    border-width: 0;
    border-radius: 10px;
    box-shadow: 0 3px 5px #ccc;
    background-color: #f7f7f7;
    margin: 0 13px 25px 0;

    transition: background-color 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: darken(#ffffff, 4%);
    }

    &:active {
      background-color: darken(#ffffff, 6%);
    }
  }
}
