.listContainer {
  list-style: none;
  position: absolute;
  z-index: 1001;
  background-color: #fff;
  padding: 0.5em;
  border-width: 0;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  max-height: 350px;
  margin-top: 30px;
  width: 100%;

  .list {
    padding: 10px;
    cursor: pointer;
    @media (max-width: 300px) {
      padding: 10px 0;
    }
  }

  .list:hover {
    background-color: #eee;
    border-radius: 5px;
  }
  &[data-is-modal="true"] {
    margin-top: 38px;
  }
}

.listContainer::-webkit-scrollbar {
  display: block;
  width: 5px;
}

.listContainer::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-right: none;
  border-left: none;
  cursor: pointer;
}
