@import "../../mixins/mixins";

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 1150px;
  margin: 0 auto;
  height: 100%;
  font-family: "Inter", sans-serif;
  width: 100%;
  margin-bottom: 50px;
  box-sizing: border-box;
  padding: 0 30px;

  .addressCartContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
  }

  .content {
    display: flex;
    flex-direction: row;
    gap: 20px;

    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  .cardOverlay,
  .sheetOverlay {
    @include card-overlay;
  }

  .sheetOverlay {
    justify-content: flex-end;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s, visibility 0s 0.8s;
  }

  .sheetOverlay.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.8s;
  }
}
