.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  // min-width: 1336px;
  max-width: 1300px;
  // min-width: 800px;
  margin: 0 auto;
  height: 100vh;
  font-family: "Inter", sans-serif;
  width: 100%;
  margin-bottom: 20px;

  .linkStyle {
    color: #e9bc5b;
    text-decoration: none;
    font-weight: 800;
    cursor: pointer;
  }
  .cardOverlay {
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    display: flex;
    overflow: auto;
  }
}
