.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // min-width: 1336px;
  max-width: 1200px;
  min-width: 1086px;
  margin: 0 auto;
  height: 100%;
  font-family: "Inter", sans-serif;
  width: 100%;
  .linkStyle {
    color: #e9bc5b;
    text-decoration: none;
    font-weight: 800;
    cursor: pointer;
  }
}
