@import "../../mixins/mixins";

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 1300px;
  // min-width: 800px;
  margin: 0 auto;
  height: 100vh;
  font-family: "Inter", sans-serif;
  width: 100%;
  margin-bottom: 20px;

  .linkStyle {
    color: #e9bc5b;
    text-decoration: none;
    font-weight: 800;
    cursor: pointer;
  }
  .cardOverlay,
  .sheetOverlay {
    @include card-overlay;
  }

  .sheetOverlay {
    justify-content: flex-end;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s, visibility 0s 0.8s;
  }

  .sheetOverlay.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.8s;
  }
}
