@import "../../../mixins/mixins";

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 20px;
  top: 10%;
  box-shadow: 0 0 5px #ccc;
  width: 400px;
  font-family: "Inter", sans-serif;
  background-color: #fcfcfc;
  justify-content: flex-start;
  overflow: hidden;
  padding: 25px;
  background-color: #fafafa;

  .payTypeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
    margin: 13px 40px;

    label {
      margin-left: 20px;
    }

    @media (max-width: 367px) {
      margin: 13px 0;
      label {
        margin-left: 10px;
      }
    }

    input[type="radio"]:after {
      width: 20px;
      height: 20px;
      border-radius: 15px;
      top: -4px;
      left: -1px;
      position: relative;
      background-color: #d1d3d1;
      content: "";
      display: inline-block;
      visibility: visible;
      border: 2px solid white;
      cursor: pointer;
    }

    input[type="radio"]:checked:after {
      width: 20px;
      height: 20px;
      border-radius: 15px;
      top: -4px;
      left: -1px;
      position: relative;
      background-color: #e9bc5b;
      content: "";
      display: inline-block;
      visibility: visible;
      border: 2px solid white;
      cursor: pointer;
    }
  }

  .buttonStyle {
    @include reusable-button;
    margin: 1rem 0;
    align-self: center;
  }
  .buttonText {
    @include reusable-button-text;
  }

  .input {
    @include reusable-input;
    margin-bottom: 0;
  }

  .certificate {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 3px #ccc;
    border-radius: 10px;
    width: 100%;
    margin: 15px 0;

    .certButtonStyle {
      @include reusable-button;
      height: 35px;
      width: 130px;
      align-self: center;
      margin: 1rem 0;
      background-color: #e9bc5b;
      @include interactive-bg(#e9bc5b);
    }
    .inputContainer {
      display: flex;
      flex-direction: column;
    }

    h3 {
      margin-bottom: 0;
    }
  }
  .icon {
    cursor: pointer;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
    position: static;
    top: 0;
    height: 100%;
    border-radius: 0;
    box-shadow: 0;
    box-sizing: border-box;
    background-color: #fcfcfc;
    justify-content: flex-start;
    .buttonStyle {
      align-self: center;
    }
  }
}
