.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15%;
  border-radius: 20px;
  box-shadow: 0 0 5px #ccc;
  width: 600px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  background-color: white;
  justify-content: center;
  padding: 30px 40px;
  color: #323232;

  .icon {
    cursor: pointer;
  }

  .bonusContainer {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    align-self: center;
    box-sizing: border-box;
    background-color: #f3f3f3;
  }

  h3 {
    margin: 12px 0;
  }

  span {
    font-weight: 600;
    font-size: 18px;
  }
  .loyaltyInfo {
    margin: 10px 0;
    font-weight: 700;
    font-size: 20px;
    color: #dbb35d;
    transition: color 0.6s ease;

    &:hover {
      color: #6a6a6a;
      transition: color 0.6s ease;
      cursor: pointer;
    }
  }
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
    position: static;
    top: 0;
    height: 100%;
    border-radius: 0;
    box-shadow: 0;
    box-sizing: border-box;
    align-items: normal;
    background-color: #fcfcfc;
    justify-content: flex-start;
  }
}
