@import "../../../mixins/mixins";

// @mixin interactive-bg($base-color: #fcfcfc) {
//   &:hover {
//     background-color: darken(#ccc, 2%);
//   }

//   &:active {
//     background-color: darken(#ccc, 3%);
//   }
// }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 1; // Allow shrinking
  max-height: 410px;
  border-width: 0;
  border-radius: 10px;
  box-shadow: 0 1px 5px #ccc;
  background-color: #f9f9f9;

  font-family: "Inter", sans-serif;
  padding: 1.2em 0.6em;
  cursor: pointer;

  .productImage {
    width: 170px;
    height: 170px;
    margin-bottom: 1rem;
  }

  .productInfo {
    width: 100%;
    .productTitle {
      font-size: 1rem;
      text-align: center;
      font-weight: 500;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: 1.2;
      min-height: 38.4px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      margin: 0 0.5em 1em 0.5em;
    }
  }

  .order {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-top: 1.5em;
    .counter {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
      @include reusable-box;
      @include interactive-bg(rgb(235, 187, 93));

      height: 2rem;
      width: 7rem;

      .count {
        margin: 0 1rem;
        font-size: 1em;
      }
    }

    .price {
      font-size: 1.1rem;
      font-weight: bold;
    }
    .amount {
      font-size: 0.8rem;
      margin-bottom: 2px;
    }
  }
}

@media (max-width: 1099) {
  .card {
    .order {
      padding-top: 0;
    }
  }
}

@media (max-width: 845px) and (min-width: 800px) {
  .card {
    .order {
      .counter {
        width: 6rem;
      }
      .price {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 768px) and (min-width: 599px) {
  .card {
    .order {
      .counter {
        width: 6rem;
      }
      .price {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 440px) {
  .card {
    .productInfo {
      .productTitle {
        font-size: 0.9rem;
        line-height: 1.5;
      }
    }
    .productImage {
      width: 140px;
      height: 140px;
    }

    .order {
      .counter {
        width: 5.5rem;
      }
      .price {
        font-size: 0.9rem;
      }
    }
  }
}

@media (max-width: 400px) {
  .card {
    .productImage {
      width: 120px;
      height: 120px;
    }
  }
}

@media (max-width: 368px) {
  .card {
    .productImage {
      width: 100px;
      height: 100px;
    }

    .order {
      .counter {
        width: 4.5rem;
      }
      .price {
        font-size: 0.8rem;
      }
    }
  }
}

@media (max-width: 319px) {
  .card {
    .productImage {
      width: 80px;
      height: 80px;
    }

    .order {
      padding-top: 0;
      .counter {
        width: 3.6rem;
        .count {
          font-size: 0.8em;
        }
      }
      .price {
        font-size: 0.8rem;
      }
    }
  }
}
