@import "../../../mixins/mixins";

@mixin form-element-style {
  border-width: 0;
  border-radius: 10px;
  width: 100%;
  padding: 0.5em;
  background-color: #ededed;
  cursor: pointer;
}

@mixin form-style {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0.7rem;
  border-radius: 10px;
  width: 100%;
  background-color: #ededed;
}

// @mixin interactive-bg($base-color: #fcfcfc) {
//   &:hover {
//     background-color: darken(#ccc, 2%);
//   }

//   &:active {
//     background-color: darken(#ccc, 3%);
//   }
// }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: calc(25% - 20px);
  max-width: calc(25% - 20px);
  // min-width: 259.25px;
  min-height: 370px;
  border-width: 0;
  border-radius: 10px;
  box-shadow: 0 1px 5px #ccc;
  background-color: #f9f9f9;
  margin: 0 1.3em 2em 0;

  font-family: "Inter", sans-serif;
  padding: 1.2em 0.6em;
  cursor: pointer;

  // @media (max-width: 1514px) {
  //   min-width: 220px;
  // }
  @media (max-width: 1745px) and (min-width: 1481px) {
    flex-basis: calc(33.3% - 20px);
    max-width: calc(33.3% - 20px);
  }

  @media (max-width: 1200px) {
    flex-basis: calc(33.3% - 20px);
    max-width: calc(33.3% - 20px);
  }

  .productImage {
    width: 170px;
    height: 170px;
    margin-bottom: 1rem;
  }
  // @media (max-width: 1700px) and (min-width: 1515px) {
  //   .productImage {
  //     width: 150px;
  //     height: 150px;
  //   }
  // }

  .productInfo {
    width: 100%;
    .productTitle {
      font-size: 1rem;
      text-align: left;
      font-weight: 500;
      text-overflow: ellipsis;
      overflow: hidden;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      margin: 0 0.5em 1em 0.5em;
    }

    .options {
      @include form-style;
      border-width: 0;
    }

    .option {
      @include form-element-style;
    }

    .chosenOption {
      @include form-element-style;
      background-color: #ffffff;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
      z-index: 999;
    }
  }

  .order {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-top: 1.5em;

    .counter {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
      @include reusable-box;
      @include interactive-bg(rgb(235, 187, 93));

      height: 2rem;
      width: 7rem;

      .count {
        margin: 0 1rem;
        font-size: 1em;
      }
    }

    .price {
      font-size: 1rem;
      font-weight: bold;
    }
    .amount {
      font-size: 0.9rem;
    }
    // @media (max-width: 1700px) and (min-width: 1515px) {
    //   .price {
    //     font-size: 0.8rem;
    //   }
    //   .counter {
    //     width: 6rem;
    //   }
    // }
  }
}
