@import "../../fonts.scss";

.content {
  max-width: 1700px;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 2.2vh;
  height: 100%;
  padding-bottom: 30px;
}

.mainSheetOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.5);
}

// monitors

@media (max-width: 1700px) {
  .content {
    max-width: 1500px;
  }
}

@media (max-width: 1500px) {
  .content {
    max-width: 1300px;
  }
}
