@import "../../fonts.scss";

.content {
  max-width: 1700px;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 2.2vh;
  height: 100%;
  padding-bottom: 30px;
}

@media (max-width: 1745px) and (min-width: 1480px) {
  .content {
    max-width: 1400px;
  }
}

@media (max-width: 1480px) {
  .content {
    max-width: 1300px;
  }
}

@media (max-width: 1200px) {
  .content {
    max-width: 1000px;
  }
}
