@import "../../../mixins/mixins";

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15%;
  border-radius: 20px;
  box-shadow: 0 0 5px #ccc;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  background-color: white;
  justify-content: center;
  padding: 30px 40px;
  color: #323232;

  .icon {
    cursor: pointer;
  }

  .input {
    @include reusable-input;
    @include focus-style(#e9bc5b);
  }
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
    position: static;
    top: 0;
    height: 100%;
    border-radius: 0;
    box-shadow: 0;
    box-sizing: border-box;
    align-items: normal;
    background-color: #fcfcfc;
    justify-content: flex-start;
  }
}
