@import "../../../mixins/mixins";

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10%;
  border-radius: 20px;
  box-shadow: 0 0 5px #ccc;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  background-color: white;
  justify-content: center;
  padding: 30px 40px;
  color: #323232;

  .icon {
    cursor: pointer;
  }

  .input {
    @include reusable-input;
    @include focus-style(#e9bc5b);
  }
  .buttonStyle {
    @include reusable-button;
    height: 35px;
    width: 100%;
    align-self: flex-start;
    margin: 0 0 1rem;
    background-color: #e9bc5b;
    @include interactive-bg(#e9bc5b);
  }
  .buttonText {
    @include reusable-button-text;
  }
  .addInfo,
  .info {
    color: #6f6f6f;
    margin: -10px 0 20px;
  }
  .info {
    margin: 10px 0;
  }

  span {
    font-weight: 800;
    font-size: larger;
    color: #323232;
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    position: static;
    top: 0;
    height: 100%;
    border-radius: 0;
    box-shadow: 0;
    box-sizing: border-box;
    align-items: center;
    background-color: #fcfcfc;
    justify-content: flex-start;
    .icon {
      cursor: pointer;
      align-self: flex-start;
    }
  }
}
