.cartBox {
  display: flex;
  flex-direction: row;
  justify-content: safe;
  padding: 0.5em 0;

  .cartImage,
  .cartBoxText {
    margin-right: 5px;
    align-self: center;
  }
  .cartImage {
    margin-right: 20px;
    @media (max-width: 1024px) and (min-width: 368px) {
      height: 100px;
      width: 100px;
    }
  }

  .cartBoxText {
    font-size: 12px;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    display: flex;
    flex: 1;
    justify-content: flex-start;
  }
  .text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0.4rem;
    @media (max-width: 310px) {
      font-size: 15px;
    }
  }
  .countBox {
    display: flex;
    flex: 1;
    align-self: center;
    justify-content: flex-end;
  }

  // @media (max-width: 368px) {
  //   span {
  //     font-size: 5px;
  //   }
  // }
}

@media (max-width: 1024px) {
  .cartBox {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em 1.5em;
    // width: calc(100vw - 50px);
    // width: 100vw;

    .cartImage {
      margin-right: 30px;
    }

    .cartBoxText {
      font-size: medium;
    }

    .countBox {
      display: flex;
      flex: 1;
      align-self: center;
      justify-content: flex-end;
    }
  }
}

// @media (max-width: 600px) {
//   .cartBox {
//     width: none;
//   }
// }
