.cartBox {
  display: flex;
  flex-direction: row;
  justify-content: safe;
  padding: 0.5em 0;

  .cartImage,
  .cartBoxText {
    margin-right: 5px;
    align-self: center;
  }
  .cartImage {
    margin-right: 20px;
    // width: 70px;
    // height: 70px;
  }

  .cartBoxText {
    font-size: 12px;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    display: flex;
    flex: 1;
    justify-content: flex-start;
  }
  .text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 0.3rem;
  }
  .countBox {
    display: flex;
    flex: 1;
    align-self: center;
    justify-content: flex-end;
  }
}
