@import "../../mixins/mixins";

@mixin header-button($base-color: #fcfcfc) {
  @include form-input-style;
  box-shadow: 0 0 5px #ccc;
  cursor: pointer;
  margin-inline-end: 1vw;
  padding: 0 1.5em;
  @include interactive-bg($base-color);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);
  // position: fixed;
  // border-bottom: solid 1px #7a8699;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
  width: 100%;
  padding: 15px;
  z-index: 9999;
  position: sticky;
  transition: box-shadow 0.2s ease-in-out, background 0.4s;
  will-change: transform;

  .logo {
    width: 220px;
    height: 51.8px;
    margin-right: 10px;
    cursor: pointer;
  }

  .address {
    display: flex;

    @include form-input-style;
    width: 100%;
    height: 43px;
    // box-shadow: 0 0 5px #ccc;

    border: 1px solid #ccc;
    max-width: 380px;
    min-width: 50px;
    cursor: pointer;
    padding-left: 15px;
    margin: 0 15px;

    .icon {
      @include icon-style;
    }

    // @media (max-width: 1024px) {
    //   box-shadow: none;
    //   border: 1px solid #ccc;
    // }
  }

  .buttonText {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    max-width: 100%;
    color: #313131;

    @media (max-width: 1024px) {
      font-size: 13px;
    }
  }

  .leftCluster {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
  }

  .cartButton {
    @include header-button(rgb(235, 187, 93));
    background-color: #e9bc5b;
    justify-content: space-between;
    max-width: 200px;
    text-overflow: ellipsis;
    transition: 0.4s ease;
    font-weight: 400;
    cursor: default;

    @media (max-width: 1481px) {
      max-width: 110px;
      width: auto;
      cursor: pointer;
      &:hover {
        color: #fcfcfc;
        text-shadow: 0px 1px 2px #ccc;
      }
    }

    @media (max-width: 1099px) {
      max-width: 70px;
    }

    .icon {
      @include icon-style;
    }
  }

  .cartButton {
    margin-right: 40px;

    @media (max-width: 822px) {
      margin-right: 20px;
      max-width: 70px;
    }
  }

  .loginButton,
  .profileButton {
    @include header-button;
    transition: 0.9s ease;
  }

  .logoutButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-right: 25px;
    width: 50px;
    height: 50px;
  }

  .profileButton {
    color: #e9bc5b;
    &:hover {
      color: darken(#5f5f5f, 3%);
    }
  }

  .optionsOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
  }

  .menu {
    min-width: 33px;
    height: 33px;
    cursor: pointer;
  }
}

@media (max-width: 1024px) {
  .header {
    box-shadow: none;
    background-color: white;

    .logo {
      width: 130px;
      height: 38px;
    }
  }
}
