$header-max-width: 768px;
@mixin form-element-style {
  display: flex;
  font-size: 0.95rem;
  border-width: 0;
  height: 40px;
  border-radius: 10px;
  background-color: #fcfcfc;
  width: 100%;
  transition: background-color 0.3s ease;
  align-items: center;
  justify-content: flex-start;
  font-family: "Inter", sans-serif;
  background-color: rgba(255, 255, 255, 0.1);
}

@mixin interactive-bg($base-color: #fcfcfc) {
  &:hover {
    background-color: darken($base-color, 2%);
  }

  &:active {
    background-color: darken($base-color, 3%);
  }
}

@mixin focus-style($color) {
  &:focus {
    outline: none;
    border-color: $color;
    box-shadow: 0 0 5px $color;
  }
}

@mixin header-button($base-color: #fcfcfc) {
  @include form-element-style;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px #ccc;
  max-width: 90px;
  cursor: pointer;
  margin-inline-end: 1vw;
  padding: 0 0.5em;
  @include interactive-bg($base-color);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  padding: 10px 0 10px 0;
  position: sticky;
  top: 0;
  z-index: 9999;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.8);

  // @media (max-width: $header-max-width) {
  //   flex-direction: column;
  //   padding: 1rem 2%;

  //   > * {
  //     width: 100%; // Элементы занимают всю ширину
  //     margin-bottom: 0.5rem;
  //   }
  // }

  .logo {
    width: 220px;
    height: 51.8px;
    margin-inline-start: 1vw;

    // @media (max-width: $header-max-width) {
    //   width: 20%;
    //   margin: 0 auto;
    //   height: auto;
    // }
  }

  .input {
    @include form-element-style;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    padding-left: 15px;

    @include focus-style(#ccc);
  }

  .address {
    @include form-element-style;
    box-shadow: 0 0 5px #ccc;
    max-width: 380px;
    cursor: pointer;
    padding-left: 15px;
  }

  .buttonText {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    max-width: 100%;
  }

  .socialMedia {
    width: 211px;
    height: 63px;
  }

  .cartButton {
    @include header-button(rgb(235, 187, 93));
    background-color: #e9bc5b;
    justify-content: space-around;
  }

  .loginButton {
    @include header-button;
  }
}

// @media (max-width: 768px) {
//   .header {
//     flex-direction: column;
//   }
// }

// @media (min-width: 1024px) and (max-width: 1440px) {
//   .header {
//     min-width: 800px;
//     justify-content: space-between;
//   }
// }
