.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .logo {
    width: 220px;
    height: 51.8px;
  }

  .input {
    display: flex;
    font-size: 15px;
    border-width: 0;
    width: 300px;
    height: 40px;
    padding-left: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    &:focus {
      outline: none;
      border-color: #ccc;
      box-shadow: 0 0 5px #ccc;
    }
  }

  .address {
    display: flex;
    font-size: 15px;
    border-width: 0;
    align-items: center;
    justify-content: flex-start;
    width: 380px;
    height: 40px;
    padding-left: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px #ccc;
    background-color: #fcfcfc;
    transition: background-color 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: darken(#fcfcfc, 2%);
    }

    &:active {
      background-color: darken(#fcfcfc, 3%);
    }
  }

  .buttonText {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    max-width: 100%;
  }

  .socialMedia {
    width: 211px;
    height: 63px;
  }

  .loginButton {
    width: 87px;
    height: 40px;
    border-radius: 10px;
    border-width: 0;
    outline: none;
    box-shadow: 0 0 5px #ccc;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    background-color: #fcfcfc;
    cursor: pointer;

    &:hover {
      background-color: darken(#fcfcfc, 2%);
    }

    &:active {
      background-color: darken(#fcfcfc, 3%);
    }
  }
}

// @media (max-width: 768px) {
//   .header {
//     flex-direction: column;
//   }
// }

// @media (min-width: 1024px) and (max-width: 1440px) {
//   .header {
//     min-width: 800px;
//     justify-content: space-between;
//   }
// }
