@import "../../../mixins/mixins";

.cart {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 0 5px #ccc;
  padding: 30px;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  max-width: 500px;
  width: 100%;
  margin-top: 50px;
  height: 100%;

  @media (max-width: 1090px) {
    box-sizing: border-box;
  }

  @media (max-width: 1024px) {
    align-self: center;
    max-width: 100%;
  }
  @media (max-width: 330px) {
    padding: 13px;
  }

  .cartHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5px;
    .cartTitle {
      font-size: 1.1rem;
      font-weight: bold;
    }
    .deleteTitle {
      font-size: 1rem;
      color: #929292;
      cursor: pointer;
    }
  }
}

.cart::-webkit-scrollbar {
  display: block;
  width: 2px;
}
.cart::-webkit-scrollbar-track {
  background: transparent;
}

.cart::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-right: none;
  border-left: none;
}
