@import "../../mixins/mixins";

.cartSheet {
  display: flex;
  flex-direction: column;
  position: fixed;
  transition: bottom 0.3s;
  bottom: 0;
  border-radius: 30px 30px 0 0;
  box-shadow: 0 0 5px #ccc;
  min-height: 400px;
  width: 100%;
  font-family: "Inter", sans-serif;
  background-color: #f0f0f0;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  padding: 15px;
  position: fixed;
  height: 52px;
  box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.1);
  // background-color: #dbdbda;
  background-color: #e9e9e9;
  // background-color: #edb848;

  .cart {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  h3 {
    color: #303030;
    font-weight: 600;
  }
  .icon {
    margin-right: 5px;
  }
  .buttonText {
    display: flex;
    flex: 1;
    color: #222222;
    justify-content: flex-end;
    font-size: medium;
    max-width: 100%;
  }
}
