.sidebar {
  display: flex;
  min-width: 13%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: sticky;
  top: 105px;
  height: calc(100vh - 170px);
  flex-basis: 200px;
  margin: 0 1.5vw;
  white-space: nowrap;
  scrollbar-width: none;
  scroll-behavior: smooth;
  overflow-y: scroll;
  padding-bottom: 70px;
  max-height: 100%;

  @media (max-width: 1480px) {
    width: 20%;
  }
  @media (max-width: 1200px) {
    width: 30%;
  }

  .item,
  .active {
    width: 100%;
    min-height: 40px;
    border-radius: 13px;
    border-width: 0;
    background-color: white; // Default background color
    font-size: 1rem;
    text-align: start;
    font-family: "Inter", sans-serif;
    padding-left: 7px;
    cursor: pointer;
    transition: background-color 0.15s ease;

    &:hover {
      background-color: darken(#ffffff, 5%);
    }
  }

  .active {
    background-color: darken(#fcfcfc, 2%);
  }
}
