.sidebar {
  display: flex;
  // // flex: 0.8;
  width: 15%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: sticky;
  top: 90px;
  height: calc(100vh - 170px);
  flex-basis: 190px;
  margin-right: 30px;
  white-space: nowrap;
  scrollbar-width: none;
  .item {
    width: 245px;
    height: 40px;
    border-radius: 20px;
    border-width: 0;
    background-color: white;
    font-size: 16px;
    transition: background-color 0.15s ease;
    text-align: start;
    padding-left: 25px;

    cursor: pointer;

    &:hover {
      background-color: darken(#fcfcfc, 4%);
    }

    &:active {
      background-color: darken(#fcfcfc, 6%);
    }
  }
}
