.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  // top: 100px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.2);
  margin-left: 30px;
  height: 100%;
  width: calc(60% - 30px);
  overflow-x: auto;

  @media (max-width: 1024px) {
    align-self: center;
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }

  @media (max-width: 300px) {
    padding: 10px;
  }

  .header {
    color: #888888;
    font-size: 15px;
  }

  .details {
    margin: 10px;
    span {
      color: #888888;
      margin: 10px;
    }
    .info,
    .infoPrice {
      margin: 20px;
    }
    .infoPrice {
      @media (max-width: 432px) {
        margin: 10px;
      }
    }

    .productInfo {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin: 20px;
      @media (max-width: 330px) {
        margin: 20px 0 20px 5px;
      }
      @media (max-width: 406px) {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    .name {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .amount {
      color: #888888;
      font-size: 15px;
      height: 100%;
    }
    .wholeSum {
      font-weight: 600;
      margin: 25px 20px;
    }
  }
  .icon {
    width: 45px;
    height: 45px;
    color: #ffc852;
    align-self: center;
  }

  .orderDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .line {
    height: 1px;
    border: 0;
    background: #e6e6e6;
    margin: 10px 0;
  }
}
