.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-left: 30px;
  height: 100%;
  width: calc(60% - 30px);

  .header {
    color: #888888;
    font-size: 15px;
  }

  .details {
    margin: 10px;
    span {
      color: #888888;
      margin: 10px;
    }
    .info {
      margin: 20px;
    }
    .name {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin: 20px;
    }

    .amount {
      color: #888888;
      font-size: 15px;
    }

    img {
      width: 50px;
      height: 50px;
    }
    .wholeSum {
      font-weight: 600;
      margin: 15px 20px;
    }
  }
  .orderDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .line {
    height: 1px;
    border: 0;
    background: #e6e6e6;
    margin: 10px 0;
  }
}
