@import "../../mixins/mixins";

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 6px 4px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
  padding: 15px;
  z-index: 999;

  .logo {
    width: 220px;
    align-self: center;
    height: 51.8px;
    margin-right: 10px;
    cursor: pointer;
  }

  .infoContainer {
    display: flex;
    flex-direction: row;
    .info {
      display: flex;
      flex-direction: column;
      margin-right: 50px;
      a {
        text-decoration: none;
        cursor: pointer;
        color: #727070;
        margin-bottom: 5px;
      }
    }
  }

  h2 {
    cursor: pointer;
    color: #565656;
    margin-inline-end: 1vw;
    margin-right: 10px;
  }

  .cartFooterContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .cart {
      display: flex;
      flex: 1;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    h3 {
      color: #303030;
      font-weight: 600;
    }
    .icon {
      margin-right: 5px;
    }
    .buttonText {
      display: flex;
      flex: 1;
      color: #222222;
      justify-content: flex-end;
      font-size: medium;
      max-width: 100%;
    }
  }
}

@media (max-width: 1099px) {
  .footer {
    span {
      font-size: 14px;
    }
    h2 {
      font-size: 20px;
    }
  }
}

@media (max-width: 1024px) {
  .footer {
    position: fixed;
    bottom: 0;
    height: 52px;
    border-radius: 30px 30px 0 0;
    background-color: #edb848;
    box-shadow: 0 -1px 4px 2px rgba(0, 0, 0, 0.1);
  }
}
