@import "../../mixins/mixins";

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // position: fixed;
  // bottom: 0;
  width: 100%;
  padding: 30px 0px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
  // border-top: solid 1px #7a8699;
  box-shadow: 0 4px 6px 4px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;

  .logo {
    width: 220px;
    align-self: center;
    height: 51.8px;
    margin-inline-start: 1vw;
    margin-right: 10px;
    cursor: pointer;
  }

  .infoContainer {
    display: flex;
    flex-direction: row;
    .info {
      display: flex;
      flex-direction: column;
      margin-right: 50px;
      a {
        text-decoration: none;
        cursor: pointer;
        color: #727070;
        margin-bottom: 5px;
      }
    }
  }

  .appLinks {
    display: flex;
    flex-direction: column;
    margin-left: -50px;
    span {
      margin-bottom: 10px;
    }
  }
  .images {
    display: flex;
    justify-content: space-between;
    img {
      width: 90px;
      height: 30px;
    }
  }
  h2 {
    cursor: pointer;
    color: #565656;
    margin-inline-end: 1vw;
    margin-right: 10px;
  }
}
