@import "../../mixins/mixins";

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 6px 4px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
  padding: 15px;
  z-index: 999;

  .logo {
    width: 220px;
    align-self: center;
    height: 51.8px;
    margin-right: 10px;
    cursor: pointer;
  }

  .infoContainer {
    display: flex;
    flex-direction: row;
    .info {
      display: flex;
      flex-direction: column;
      margin-right: 50px;
      a {
        text-decoration: none;
        cursor: pointer;
        color: #727070;
        margin-bottom: 5px;
      }
    }
  }

  .appLinks {
    display: flex;
    flex-direction: column;
    // margin-left: -50px;
    margin-right: 15px;
    span {
      margin-bottom: 10px;
    }
  }
  .images {
    display: flex;
    justify-content: space-between;
    img {
      width: 90px;
      height: 30px;
    }
  }
  h2 {
    cursor: pointer;
    color: #565656;
    margin-inline-end: 1vw;
    margin-right: 10px;
  }
}

@media (max-width: 1099px) {
  .footer {
    position: fixed;
    bottom: 0;
    height: 52px;
    border-radius: 15px 15px 0 0;
  }
}
