@import "../../../mixins/mixins";

.container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 10%;
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc;
  max-height: calc(100vh - 200px);
  min-height: 400px;
  max-width: calc(100vw - 900px);
  min-width: 700px;
  font-family: "Inter", sans-serif;
  background-color: #fcfcfc;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
  padding: 25px 20px;
  background-color: #fafafa;

  .productImage {
    width: 330px;
    height: 330px;
    align-self: center;
  }

  .icon {
    align-self: flex-start;
    cursor: pointer;
  }
}

.container::-webkit-scrollbar {
  display: block;
  width: 3px;
}
.container::-webkit-scrollbar-track {
  background: transparent;
  margin: 5px;
}

.container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-right: none;
  border-left: none;
}
