@import "../../../mixins/mixins";

.container {
  display: flex;
  flex-direction: row;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc;
  max-height: calc(100vh - 300px);
  min-height: 400px;
  // height: 100%;
  max-width: calc(100vw - 900px);
  min-width: 700px;
  // width: 100%;
  font-family: "Inter", sans-serif;
  background-color: #fcfcfc;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  padding: 25px 0;
  background-color: #fafafa;

  .productImage {
    width: 330px;
    height: 330px;
    align-self: center;
  }
}
