.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 0;
  border-radius: 10px;
  background-color: #e9bc5b;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 2rem;
  width: 7rem;

  .counterButton {
    width: 100%;
    border: none;
    background-color: #e9bc5b;

    cursor: pointer;
  }
  .count {
    margin: 0 0.5rem;
    font-size: 1em;
  }
}
