@import "../../mixins/mixins";

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  @include reusableBox;
  height: 2rem;
  width: var(--counter-width, 7rem);

  .counterButton {
    width: 100%;
    border: none;
    background-color: var(--counter-bg-color, #e9bc5b);
    color: var(--counter-color);
    cursor: pointer;
  }
  .count {
    margin: var(--counter-margin);
    font-size: 1em;
    color: var(--counter-color);
  }
}
