@mixin reusableBox {
  border-width: 0;
  border-radius: 10px;
  background-color: var(--counter-bg-color, #e9bc5b);
  box-shadow: var(--counter-box-shadow, 0px 2px 4px rgba(0, 0, 0, 0.2));
  cursor: pointer;
}
