@import "../../../mixins/mixins";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.addressContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.streetInputContainer,
.houseInputContainer {
  position: relative;
  display: flex;
}
.streetInputContainer {
  width: 70%;
}
.houseInputContainer {
  width: 30%;
  margin-left: 10px;
}

.input {
  padding: 0 15px;
  margin-bottom: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  border-radius: 10px;
  height: 40px;
  font-size: 0.95rem;
  width: 100%;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
  text-overflow: ellipsis;

  @include focus-style(#ccc);
}
.details {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 10px;

  .detailsInput {
    text-align: center;
    margin: 0 0 20px 0;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 10px;
    height: 40px;
    font-size: 0.95rem;
    font-family: "Inter", sans-serif;
    @include focus-style(#ccc);

    @media (max-width: 309px) {
      margin: 0;
      &:last-child {
        margin: 0 0 20px 0;
      }
    }
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  width: 100%;

  &[data-is-modal="true"] {
    @media (max-width: 500px) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
      gap: 10px;
    }

    @media (max-width: 370px) {
      grid-template-columns: repeat(auto-fit, minmax(110px, max-content));
    }
    @media (max-width: 290px) {
      grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
    }
  }
  &[data-is-modal="false"] {
    @media (max-width: 900px) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
      gap: 10px;
    }
    @media (max-width: 535px) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
      gap: 10px;
    }
    @media (max-width: 429px) {
      grid-template-columns: repeat(auto-fit, minmax(110px, max-content));
    }
    @media (max-width: 358px) {
      grid-template-columns: repeat(auto-fit, minmax(120px, max-content));
    }
  }
}

.buttonStyle,
.binButton {
  @include reusable-button;
  margin: 0.3rem 1.5rem 0 0;

  &[data-is-modal="true"] {
    @media (max-width: 500px) {
      margin: 0.3rem 0 0 0;
    }
    @media (max-width: 370px) {
      width: 110px;
    }
    @media (max-width: 290px) {
      width: 100px;
    }
  }
  &[data-is-modal="false"] {
    @media (max-width: 429px) {
      width: 120px;
    }
    @media (max-width: 358px) {
      width: 150px;
    }
  }
}
.buttonText {
  @include reusable-button-text;
}
.binButton {
  width: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
