@font-face {
  font-family: "Lexend-Regular";
  src: url("../src/assets/fonts/Lexend-Regular.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lexend-Light";
  src: url("../src/assets/fonts/Lexend-Light.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}
