.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  max-width: 300px;
  background-color: #fcfcfc;
  position: absolute;
  min-height: 100vh;
  height: 100vh;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 20px;

  @media (max-width: 599px) {
    max-width: 250px;
  }

  .item {
    width: 100%;
    min-width: 50px; // Ensures items have a minimum width
    min-height: 50px;
    border-radius: 13px;
    border-width: 0;
    text-align: start;
    font-size: 1.1em;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    background-color: #fcfcfc;
    cursor: pointer;
    padding: 15px 0px 15px 15px;

    @media (max-width: 599px) {
      font-size: 1em;
    }

    // &:hover {
    //   background-color: darken(#ffffff, 5%);
    // }
  }

  span,
  a {
    text-decoration: none;
    cursor: pointer;
    color: #636363;
  }

  .line {
    width: 100%;
    background: #dbdbdb;
    margin: 15px 0;
    border-top: 0.1px solid #ccc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }
}
