@import "../../../mixins/mixins";

.productInfo {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin: 15px 0 30px 0;
  overflow-y: auto;
  max-height: calc(100vh - 350px);
  // min-height: 348px;
  height: 100%;
  padding: 0 10px;
  // width: 100%;

  h2 {
    font-weight: normal;
  }
  .addInfo,
  .description {
    font-size: medium;
    margin-bottom: 15px;
  }

  .addInfo {
    font-size: 0.85em;
    font-weight: 600;
  }
  .energyBox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .energyInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 0.7em;
      color: #878585;
    }
    .value {
      font-size: medium;
      color: #5a5a5a;
    }
  }
}
.order {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1.5em;
  flex-direction: row;

  &[data-is-sheet="true"] {
    padding-bottom: 2.5em;
    .counter {
      @media (min-width: 500px) {
        width: 8rem;
        height: 2.5rem;
      }
      @media (max-width: 500px) {
        width: 6rem;
      }
      @media (max-width: 418px) {
        width: 5rem;
      }
    }
  }

  .counter {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    @include reusable-box(#fcfcfc);
    @include interactive-bg(#fcfcfc);
    // box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    height: 2rem;
    width: 7rem;

    .count {
      margin: 0 1rem;
      font-size: 1em;
    }
  }
  .price {
    font-size: medium;
  }
}

.productInfo::-webkit-scrollbar {
  display: block;
  width: 3px;
}

.productInfo::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-right: none;
  border-left: none;
}
