@import "../../mixins/mixins";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0 0 5px #ccc;
  position: absolute;
  top: 74px;
  height: calc(100vh - 800px);
  transform: translateX(-3%);
  padding: 0 20px;
  font-family: "Inter", sans-serif;
  min-width: 280px;
  background-color: #fcfcfc;
  min-height: 240px;
  overflow-y: auto;
  background-color: white;
  .item {
    width: 100%;
    min-height: 50px;
    border-radius: 20px;
    border-width: 0;
    background-color: white;
    font-size: 1rem;
    text-align: start;
    font-family: "Inter", sans-serif;
    padding-left: 30px;
    cursor: pointer;
    transition: background-color 0.15s ease;

    &:hover {
      background-color: darken(#ffffff, 5%);
    }
  }
}
