@import "../../mixins/mixins";

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: sticky;
  top: 100px;
  border-radius: 20px;
  box-shadow: 0 0 5px #ccc;
  padding: 30px;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  max-width: 400px;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  @media (max-width: 1024px) {
    align-self: center;
    position: static;
    top: 0;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  h2,
  h3 {
    font-weight: 600;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5px;
  }

  .sumContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    // justify-content: flex-end;
  }
  .paymentDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .finalPayment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }
  .info,
  .promo {
    margin: 10px;
  }

  .promo {
    color: #868686;

    &:hover {
      color: black;
      cursor: pointer;
    }
  }

  .sum {
    font-weight: 600;
    font-size: 20px;
    margin: 10px;
  }
  .paymentButtonStyle,
  .buttonStyle {
    @include reusable-button;
    margin: 0;
  }
  .paymentButtonStyle {
    background-color: #e9bc5b;
    width: 200px;
    &:hover {
      background-color: darken(rgb(239, 199, 118), 2%);
    }
    &:active {
      background-color: darken(rgb(239, 199, 118), 3%);
    }
    @media (max-width: 340px) {
      width: 140px;
    }
  }
  .buttonStyle {
    width: 100%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    height: 40px;
    width: 100px;
    background-color: white;
  }

  .paymentButtonText,
  .buttonText {
    color: rgb(31, 31, 31);
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 500;
  }
  .buttonText {
    font-weight: 400;
  }
  .input {
    @include form-input-style;
    border: 1px solid #ccc;
    text-overflow: ellipsis;
    padding-left: 25px;
    margin: 10px 0;
    @include focus-style(#ccc);
    @media (max-width: 332px) {
      padding-left: 15px;
    }
  }
}
