@import "../../mixins/mixins";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 0 5px #ccc;
  padding: 2.2vh;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  margin-left: 1.5vw;
  min-width: 330px;
  // min-height: 400px;
  // height: calc(100vh - 400px);
  // overflow-y: auto;

  h2 {
    font-weight: 600;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5px;
  }

  .sumContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    // justify-content: flex-end;
  }
  .paymentDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .finalPayment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }
  .info {
    margin: 10px;
  }
  .buttonStyle {
    @include reusable-button;
    margin: 0;
    background-color: rgb(239, 199, 118);
    &:hover {
      background-color: darken(rgb(239, 199, 118), 2%);
    }

    &:active {
      background-color: darken(rgb(239, 199, 118), 3%);
    }
  }

  .buttonText {
    color: rgb(31, 31, 31);
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 600;
  }
}
