.container {
  display: flex;
  flex-direction: column;
  width: 67%;
  min-width: 768px;
  height: 100%;
  box-sizing: border-box;
  padding: 7px 0 50px;

  .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: -1.7em;
  }
  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
  }
}

@media (max-width: 1480px) {
  .container {
    width: 80%;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 70%;
  }
}

.indicators {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  .indicator {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    &.active {
      background-color: #717171;
    }
  }
}

.sliderArrowLeft,
.sliderArrowRight {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.sliderArrowRight {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.sliderArrowLeft {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.sliderArrowLeft:hover,
.sliderArrowRight:hover {
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 50px;
}

.overlay,
.cardOverlay,
.optionsOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  display: flex;
  justify-content: flex-end;
  // align-items: center;
  overflow: auto;
}

.cardOverlay {
  justify-content: center;
  align-items: center;
}

.optionsOverlay {
  background-color: transparent;
}
