.container {
  display: flex;
  flex-direction: column;
  width: 67%;
  // min-width: 740px;
  height: 100%;
  box-sizing: border-box;
  padding: 0 0 50px;

  .items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 20px;
  }

  @media (max-width: 1700px) {
    .items {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }

  @media (max-width: 1280px) {
    .items {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    margin: 0 10px;
  }

  @media (max-width: 880px) {
    .items {
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
  }

  @media (max-width: 400px) {
    .items {
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }
    h2 {
      font-size: 20px;
    }
  }

  @media (max-width: 319px) {
    .items {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
  }
}

@media (max-width: 1280px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

.overlay,
.cardOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  display: flex;
  justify-content: flex-end;
  // align-items: center;
  overflow: auto;
}

.cardOverlay {
  justify-content: center;
  align-items: center;
}

.sliderSearchField {
  margin-top: 0;
  @media (max-width: 1024px) {
    margin-top: 80px;
  }
}
