@import "../../mixins/mixins";

.container {
  display: flex;
  flex-direction: column;
  width: 67%;
  // min-width: 740px;
  height: 100%;
  box-sizing: border-box;
  padding: 0 0 50px;

  .items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 20px;
  }

  @media (max-width: 1700px) {
    .items {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }

  @media (max-width: 1280px) {
    .items {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    margin: 0 10px;
  }

  @media (max-width: 880px) {
    .items {
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
  }

  @media (max-width: 400px) {
    .items {
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }
    h2 {
      font-size: 20px;
    }
  }

  @media (max-width: 319px) {
    .items {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
  }
}

@media (max-width: 1280px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

.overlay,
.cardOverlay,
.sheetOverlay {
  @include card-overlay;
  justify-content: flex-end;
}

.cardOverlay {
  justify-content: center;
  align-items: center;
}

.sheetOverlay {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
}

.sheetOverlay.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s;
}
